body {
    color: #1b1b32;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    padding: 20px 0;
    margin: 20px 10px;
    background: #e2e5e8;
    line-height: 1.5em;
}

h1, .description {
    text-align: center;
}

figure {
    text-align: center;
    background: #f4f6f8;
    margin: 0;
    padding: 10px 50px;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

section {
    width: 700px;
    margin: auto  
}

.tribute-info {
    margin-top: 50px;
}

fieldset {
    border: none;
    margin: -10px;
    padding: 0;
}

.quote, .learn-more {
    text-align: center;
}

.quote {
    margin: 70px 0;
}